<?xml version="1.0"?>
<!--
/**
 * @package Divante/Uikit
 * @author Kacper Chara <kchara@divante.pl>
 * @copyright 2017 Divante Sp. z o.o.
 * @license See LICENSE_DIVANTE.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="uikit" frontName="uikit">
            <module name="Divante_Uikit" />
        </route>
    </router>
</config>
